
* {
    
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}
.wrap{
    background-color: #f8f2e5;
}

.calender_header{ 
    text-align: center;
    font-size: 25px;
}
.month_picker{
    border-radius: 10px;
    cursor: pointer;
}
.year_picker{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.year_changer{
    width: 200px;
    /* border-radius: 50%;  */
    display: grid;
    place-items:center;
    margin: 0 10px;
    cursor: pointer;
}
.month_picker{
    position: relative;
    left:400px;
    font-size: 70px;
}
.header-title {
    font-size: 150px;
    color: #aaa ;
    transform:rotate(-15deg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top:65vh;
    left:40vw;
}

.year-month {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-left: 5px solid #ccc;
}


/* 星期幾 */
.week_list {
    background-color: rgba(58, 203, 186, 0.989);
    font-weight: 600px;
    grid-template: repeat(1, auto) / repeat(7, 1fr);
    /* background-image:  linear-gradient(to top,  #0af 50%,  #fff 100%);; */
    border-radius: 5px;
    
    

}
.week_name {
    color: #0c3866;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    border: 10px double #fff;

}

.date_list {    
    background-color: rgba(0, 255, 136, 0.333);
    display: grid;
    grid-template: repeat(6, auto) / repeat(7, 1fr);
}

.date_box{
    position: relative;
    overflow:hidden;
    min-height: 100px;
    max-height: 120px;
    border: 9px double #fff;
}

.date_text {
    font-size: 30px;
    border-radius: 5px;
    color: #666;
    transform: rotateX(50deg);

}
.prev_month,.next_month{
   
    background-color:#ddd ;
}
.prev-month-grid,.next-month-grid{
    background-color: rgb(185, 200, 184);

}


div .date_box:hover {
    background-color: #0f03;
    position: relative;
    overflow-y: scroll;
    transform:  translateZ(100px) scale(2) ;
    box-shadow: 2px 2px 10px 2px #0c3866;
    z-index: 3;

}
/* 內部待辦事項清單設定------ */
.todo-event{
    position: relative;
    top: -50px;
    
}

/* 新增按鈕的設定 */
.add_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 0;
   
}

.add_btn:hover {
    border:2px solid #afa;
    background-image: linear-gradient(to bottom, #afa 0%, #0f5 100%);
    transform: scale(1) ;
    border-radius: 50%;
    color: #fff;
    opacity: 1;
    z-index: 4;

}

.date:hover .add_btn {
    opacity: 1;

}
